* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

/* Font Weight */
.font-normal {
    font-weight: 400;
} 

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
} 

button {
    cursor: pointer;
}

br {
    display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { 
    display: inline-block; 
}

.menu {
    width: 100%;
    overflow: hidden;
    background: rgba(255, 144, 14, 0.1);
}

.menu-logo {
    width: 100%;
}

.menu-logo h2{
    padding: 50px 0;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.menu-ber {
    width: 100%;
}

.menu-ber ul{
    text-align: center;
}

.menu-ber ul li{
    list-style: none;
    display: block;

}

.menu-ber ul li a{
    text-decoration: none;
    color: #424242;
    padding: 10px 0px;
    display: block;
}

.brand {
    background: rgba(255, 144, 14, 0.1);
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
}

.brand h1 {
    text-align: center;
    color: #131313;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 0;
}

.brand p {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
    padding: 0px 20px;
}

.brand button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
}

/* banner section*/
.banner {
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 45px;
}

.slider-image {
    background-image: url('images/banner.png');
    overflow: hidden;
    background-size: cover;
    height: 500px;
    border-radius: 8px;
}

/* feature section  */
.features {
    width: 100%;
    overflow: hidden;
}

.feature-img {
    width: 100%;
    overflow: hidden;
    margin: 4% 0 0 0%;
}

.feature-img1 {
    float: left;
    margin-bottom: 30px;
    width: 50%;
}

.feature-img1 img {
    width: 100%;
    padding: 3%;
}

.feature-img2 img {
    width: 100%;
    padding: 3%;
}

.feature-img2 {
    float: left;
    width: 50%;
}

.feature-content {
    text-align: left;
    /* float: left; */
    width: 100%;
    padding: 20px;
}

.feature-content h2 {
    font-size: 35px;
    margin-bottom: 24px;
}

.feature-content p {
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.quick-color {
    color: #727272;
}


.features-color {
    color: #FF900E;

}

.of-color {
    color: #131313;
    font-weight: 900;


}

.feature-content p {

    color: #727272;
    font-size: 16px;
    margin-bottom: 35px;

}

.feature-content button {
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
    padding: 20px 24px;
}

.service{
margin-top:50px;
    width: 100%;
   
}

.service-content{
    width: 100%;
    padding: 0px 20px;
}

.service-content .passage h1{
    color: #131313;
    font-weight: 700;
    font-size: 35px;
    position:relative;
    margin-left: 15px;
}

.service-content .passage h1:before{
    content: "";
    position: absolute;
    width: 4px;
    height:100%;
    top: 0;
    left: -15px;
    background: #FF900E;
}

.service-content .passage p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}


.service-img{
    width: 100%;
    margin-top: 40px;
    position: relative;
}


.service-img img{
    width: 100%;
    height: auto;
    max-width: 100%;

}

.service-content .passage2{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;
    padding: 30px;
}

.service-content .passage2 h3{
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;

}

.service-content .passage2 p{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.btn-color{
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 28px 32px;
    display: block;
    position: absolute;
    bottom: -70px;
    max-width: 342px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.year-color{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
  
}
.exp-color{
    color: #FFFFFF;
    font-size: 25px;
    
}

.fact{
    margin-top: 130px;
    padding: 0px 20px;
}

.fact h1{
    color: #131313;
    font-size: 40px;
    margin-bottom: 15px;
}
.fact p{
    color: #727272;
    font-size: 20px;
}

/* project area  */
.project-area{
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    align-items: center;
   
}

.project1:hover{
    background-color: #f0b3b3;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.project1 {
    border: 1px solid #FF900E;
    border-radius: 8px; 
   text-align: center;
   margin-top: 70px;
   width: 200px;
   height: 200px;
}

.project1 img{
    margin-top: 40px;
}
.project1 h1{
    color: #424242;
    font-size: 45px;
}
.project1 h3{
    color: #727272;
    font-size: 20px;
}

.extra-section{
   background-color: #FFFFFF;
   box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
   margin-top: 80px;
   border-radius: 12px;
   width: 100%;
   margin-bottom: 30px;
   padding: 50px;
   text-align: center;
}


.extra-content {
    width: 100%;;
}
.cta {
    padding-top: 20px;
    text-align: center;
}

.cta .btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: #fff;
}


.extra-content, .extra-img{
    width: 100%;
}

.extra-img img{
    width: 100%;
}

.extra-section h2{
    color:#424242 ;
    padding-left: 20px ;
    font-size: 40px;
}

.extra-section h3{
    display: inline-block;
    border-radius: 8px;
    padding:10px 20px;
}

/* our sponsor  */
.sponspors{
    margin-top: 50px;
}

.sponspors h1{
    margin-left: 20px;
    color: #131313;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.sponspors p{
    margin-left: 20px;
    color: #727272;
    font-size: 20px;
    margin-bottom: 50px;
}

.sponsor {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}

.sponsor-img{
    justify-items: center;
    justify-content: space-between;
    width: 20%;
    
}
.sponsor-img img{
    width: 60%;
    text-align: center;

}

footer{
    margin-top: 80px;
    background: #FFF4E7;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

footer p{
    padding: 25px;
    text-align: center;
    color: #424242;
    font-size: 20px;   
}